.a-button {
    display: inline-block;
    min-width: 200px;
    letter-spacing: .02em;
    line-height: 18px;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-top: 10px;
    padding: 8px 36px;
    text-align: center;

    background-color: #ffd814;
    color: rgb(0, 0, 0);

    text-decoration: none;
    line-height: 1.4;
    border-radius: 100px;
    font-size: 13px;
    font-family: "Noto Sans JP", sans-serif;
    width: 200px;
}

@media (max-width: 800px) {
    .a-button {
        background-color: #ffd814;
        display: inline-block;
        min-width: 100px;
        letter-spacing: .02em;
        line-height: 18px;
        margin-bottom: 12px;
        margin-right: 12px;
        margin-top: 10px;
        padding: 4px 4px;
        text-align: center;
        text-decoration: none;
        line-height: 1.4;
        border-radius: 10px;
        font-size: 12px;
        font-family: "Noto Sans JP", sans-serif;
        width: 140px;

    }
}