html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main.main {
    flex: 1;
    display: flex;
    justify-content: center; /* 水平方向の中央 */
    align-items: center;     /* 垂直方向の中央 */
    text-align: center;
}