@charset "utf-8";

.feature {
  display: flex;
  justify-content: space-between;
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  /*align-items: flex-start;*/
  align-items: stretch;
  /*font-family: '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho Pro', serif;*/
  font-family:"ヒラギノ角ゴ Pro W3","游ゴシック", "Yu Gothic", YuGothic, "游ゴシック体",  "メイリオ", sans-serif;
}

.feature img {
  max-width: 450px;
  align-items: stretch;
}

.feature-text {
  max-width: 500px;
  margin-right: 40px;
  
}

.reverse {
  flex-direction: row-reverse;
}

.reverse {
  display: flex;
  align-items: stretch;
}

.reverse .feature-text {
  margin-left: 40px;
  margin-right: 0;
}

.feature-text h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
  color: #50391a;;
}

.feature-text p {
  font-size: 16px;
  line-height: 28px;
  margin-top: 25px;
  line-height: 2.4;
}
.movie-bg{
  width: 100%;
  background-color: #f4f4f4;
}
.movie {
  width: 930px;
  max-width: 90%;
  background-color: #f4f4f4;
  padding: 50px 60px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
}

.movie h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.movie p {
  font-size: 15px;
  line-height: 28px;
  margin-top: 20px;
}

#responsiveVideo {
  width: 100%;       /* 親要素に合わせて横幅を可変 */
  max-width: 800px;  /* 最大幅を800pxに制限 */
  height: auto;      /* 縦横比を維持 */
}


@media (max-width: 800px) {
  .feature {
    display: block; /* main.css で flex-direction: column になるので、どちらか一方に揃える */
    width: 100%; /* 固定幅ではなく、画面幅いっぱいに広がるように変更 */
    max-width: none; /* 必要に応じて削除または調整 */
    margin-top: 45px;
  }

  .feature-text {
    margin-right: 0;
  }
  .feature-text p {
    font-size: 15px;
    margin-top: 25px;
    line-height: 2.0;
  }
  .reverse .feature-text {
    margin-left: 0;
  }

  .feature img {
    width: 100%;
    height: auto;
    margin-top: 25px;
  }

  .movie {
    width: 100%; /* 親要素の幅いっぱいに広がるように変更 */
    max-width: none; /* 親要素のmax-width:90%が効いているので、ここでの指定は不要 */
    padding: 30px 15px;
  }
  .movie p {
    font-size: 15px;
    line-height: 28px;
    margin-top: 20px;
  }

}